annoy
matplotlib
pandas
numpy
tensorflow
tqdm
Pillow
opencv-python
scikit-image

fastapi
uvicorn[standard]
aiosqlite
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
keras
dash
pandas